* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(183, 211, 183);
}

html, body {
    height: 100vh;
    padding: 1rem;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    grid-template-areas:
        "portfolio map";
    grid-template-columns: 1fr 1fr;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.portfolio {
    grid-area: portfolio;
    display: flex;           /* makes children flex items */
    flex-direction: column;  /* stacks children vertically */
    justify-content: center; /* centers content vertically */
    align-items: center;     /* centers content horizontally */
}

.portfolio img {
    max-width: 300px;
    margin-bottom: 30px;
}

#map {
    grid-area: map;
    height: 70vh;
}

#footer {
    grid-area: footer;
    background-color:rgb(183, 211, 183);
    padding: 1rem;
    text-align: center;
}

.awesomePopup {
    background-color: pink;
    color: navy;
    font-size: 16px;
    padding: 10px;
}

.awesomePopup2 {
    background-color: lightblue;
    color: navy;
    font-size: 16px;
    padding: 10px;
}

.awesomePopup3 {
    background-color: lightsalmon;
    color: navy;
    font-size: 16px;
    padding: 10px;
}

.awesomePopup4 {
    background-color:lavender;
    color: navy;
    font-size: 16px;
    padding: 10px;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    color: darkslategrey;
    padding: 20px;
    text-align: right;
}

.portfolio p {
    color:darkslategrey;
    background-color:gainsboro;
    padding: 10px;
    width: 70vh;
}

.portfolio ol {
    color:darkslategrey;
    background-color: gainsboro;
    width: 70vh;
    padding: 30px;
}

.hobbies img {
    max-width: 300px;
    margin-top: 25px;
}

.hobbies h2 {
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}

.hobbies ul {
    margin-left: 50px;
}
