* {
    font-family:monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:#4677a0;
}

html, body {
    height: 80vh;
    padding: 1rem;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    grid-template-areas:
        "portfolio map";
    grid-template-columns: 1fr 1fr;
    grid-area: main;
}

header {
    grid-area: header;
    text-align: center;
    padding-top: 2rem;
    padding-bottom:2.5rem;
    color: white;
}

header img{
    height:15vh;
    padding-top: 1.5rem;
}

.portfolio {
    grid-area: portfolio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right:20px;
}

#map {
    grid-area: map;
    height: 70vh;
}

#footer {
    grid-area: footer;
    padding: 5px;
    background-color: #4677a0;
    color: #fff;
    text-align: center;
}

#contents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}